body {
  background-color: aqua;
}
.board {
  border: 10px solid;
  height: 750px;
  width: 550px;
  margin: auto;
  display: grid;
  box-shadow: blue;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 15px;
  background-color: greenyellow;
  padding: 15px;
}
.board div {
  background-color: whitesmoke;
  text-align: center;
  padding: 30px;
}
